[submodule "ext_sites/star/wiki-cc"]
	path = ext_sites/star/wiki-cc
	url = https://github.com/PurpleStarChild/wiki.chaos-cat.git
[submodule "infra"]
	path = infra
	url = https://github.com/PurpleStarChild/wayreth-infra.git
[submodule "ext_sites/nix"]
	path = ext_sites/nix
	url = https://github.com/PurpleStarChild/nix-blogs.git
[submodule "ext_sites/misc/ddd"]
	path = ext_sites/misc/ddd
	url = https://github.com/PurpleStarChild/ddd.git
[submodule "ext_sites/misc/renc"]
	path = ext_sites/misc/renc
	url = https://github.com/PurpleStarChild/renc.git
[submodule "wiki-cc/"]
	url = https://github.com/PurpleStarChild/wayreth-infra.git
